@import url('https://fonts.googleapis.com/css2?family=Rubik+Distressed&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
}
body{
    background: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.container{
    position: relative;
    width: 100%;
    max-width: 1000px;
    min-height: 1000px;
    background: white;
    display: grid;
    grid-template-columns: 1fr 2fr;
    box-shadow: 0 35px 55px #0000001a;
    margin: 50px;
}
.container .leftside{
    position: relative;
    background: rgb(2, 2, 64);
    padding: 40px;
}

.profiletext .imggx{
    position: relative;
    width: 200px;
    height: 200px;
    margin-left: 27px;
    border-radius: 50%;
    overflow: hidden;
    
}
.profiletext .imggx img{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    object-fit: fill;
    
}
.profiletext h2{
    color: white;
    font-size: 50px;
    margin-top: 20px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    line-height: 0.6em;
    
}
.profiletext span{
    font-size: 20px;
    color: white;
    text-transform: uppercase;
    text-align: center;
    font-weight: 300;
    
}
.contact_info{
    padding-top: 30px;
    margin-bottom: 30px;
}
.title{
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 20px;
}
.contact_info ul{
    position: relative;
}
.contact_info li{
    position: relative;
    list-style: none;
    margin: 10px 0px;
    cursor: pointer;
}
.contact_info ul li .icon{
    display: inline-block;
    width: 30px;
    font-size: 18px;
    color: #2a89ae;
}
.contact_info ul li span{
    font-size: 13px;
    color: white;
    font-weight: 300;
}
.Education li{
    margin-bottom: 15px;
    font-size: 13px;
    letter-spacing: 1px;
    line-height: 1.4;
    list-style: none;
    
}
.Education h5{
    color: #2a89ae;
    font-weight: 500;
    margin-bottom: 4px;
    font-size: 11px;
}
.Education h4:nth-child(3){
    color: white;
    font-weight: 300;
}
.Education h4{
    color: white;
    font-weight: 300;
}

.language{
    margin-top: 30px;
}
.language h3{
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 20px;
    
}
.language ul{
    position: relative;
    color: white;
   
    
    
}
.language ul li{
    font-size: 13px;
    font-weight: 300;
    list-style: none;
    line-height: 2;
    margin-bottom: 20px;

}


.language .percent{
    position: relative;
    width: 100%;
    height: 6px;
    background: rgb(5, 5, 5);
    display: block;
    margin-top: 5px;

}
.language .percent div{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: #2a89ae;
}


.container .rightside{
    position: relative;
    background: rgb(246, 246, 249);
    padding: 40px;
}

.about{
    margin-bottom: 50px;
}
.about:last-child{
    margin-bottom: 0px;
}
.about p{
    letter-spacing: 1.05px;
}

.title2{
    color: rgb(2, 2, 64);
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 10px;
}
.about .box{
    display: flex;
    flex-direction: row;
    margin: 20px 0px;
}
.about .box .year_company{
    min-width: 150px;
}
.about .box .year_company{
    text-transform: uppercase;
    color: #848c90;
    font-weight: 600;
}
.about .box .text h4{
    text-transform: uppercase;
    color: #2a89ae;
    font-size: 16px;
    margin-bottom: 5px;
}
.about .box .text p{
    line-height: 22px;
}
.skills .box{
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: 150px 1fr;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.skills .title2{
    margin-bottom: 20px;
}
.skills .box h4{
    text-transform: uppercase;
    color: #848c90;
    font-weight: 500;
    font-size: 13px;
}
.skills .box .percent{
    position: relative;
    width: 100%;
    height: 10px;
    background: #f0f0f0;
}
.skills .box .percent div{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: #2a89ae;
    
}
.interest{
    margin-top: 60px;
}
.interest ul{
    display: grid;
    grid-template-columns: repeat(4,1fr);

}
.interest ul li{
    list-style: none;
    color: #333;
    font-weight: 500;
    margin: 10px 0px;

}
.interest ul li .fa{
    color: #2a89ae;
    font-size: 18px;
    width: 20px ;
}
@media(max-width: 1000px)
{
    .container
    {
        margin: 10px;
        grid-template-columns: repeat(1,1fr);

    }
    .interest ul{
        grid-template-columns: repeat(2,1fr);
    }
}
@media(max-width: 600px){
    .about .box{
        flex-direction: column;
    }
    .about .box .year_company{
        margin-bottom: 5px;
    }
}
